

.main-header
 {
  display: flex;
   flex-direction: column;
  background-color: lightgreen;
  justify-content: space-around;
  color: white;
  height: 1.5;
  width: 100%;
  font: Helvetica Neue, Helvectica, Arial, serif;
  line-height: 5;
  margin: auto;
  padding: 200px;
  text-align: center;


}

.initial-research {
  display: flex; 
  display-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: green;
  color: white;
  font: Helvetica Neue, Helvectica, Arial, serif;
  font-size: 1em;

}
.services {
  display: flex;
    display-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
background-color: green;
  color: white;
  font: Helvetica Neue, Helvectica, Arial, serif;
  font-size: 1em;

}
