

.main-header, 
h1 {
  display: flex;
  background-color: lightgreen;
  color: white;
  font: Helvetica Neue, Helvectica, Arial, serif;
  font-weight: 500; 
  line-height: 1.5em;
  margin: auto;
  padding: 5px;
  align-content: center;
  align-text: center;
}

.initial-research {
  display: flex; 
  display-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: green;
  color: white;
  font: Helvetica Neue, Helvectica, Arial, serif;
  font-size: 1em;

}
.services {
  display: flex;
    display-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
background-color: green;
  color: white;
  font: Helvetica Neue, Helvectica, Arial, serif;
  font-size: 1em;

}
