


.main-header
 {
  display: flex;
   flex-direction: column;
  height: 1;
   background: url(forest.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font: Helvetica Neue, Helvectica, Arial, serif;
  font-size: 1.5em;
  padding-top: 100px; 
  padding-right: 100px
  padding-bottom: 200px;
  padding-left: 100px;
  align-content: space-around;
  


}


.initial-research {
  display: flex; 
  display-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: green;
  color: white;
  font: Helvetica Neue, Helvectica, Arial, serif;
  font-size: 1em;

}
.services {
  display: flex;
    display-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
background-color: green;
  color: white;
  font: Helvetica Neue, Helvectica, Arial, serif;
  font-size: 1em;

}
